<h1>chat</h1>

<div id="chatBox">
</div>

<div>
    <label for="chatbox"><input type="text" id="chatInput"></label>
</div>



<script src='/socket.io/socket.io.js'></script>
<script type="module" src='static/js/chat.js'></script>