<div class="">

    <h2>There has been a problem with your request!</h2>
    <h4>Here are the details of your error:</h4>
    <p>{{error}}</p>

    <h4>Try again later or contact an adminstrator</h4>
    <a href="/">Use this link to get back home</a>
</div>