<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>

<body>
    <form action="/api/session/login" method="POST">
        <label for="">EMAIL: <input type="text" name="email" placeholder="EMAIL@DOMAIN.COM"></label>
        <label for="">PASSWORD: <input type="password" name="password" placeholder="PASSWORD"></label>
        <button type="submit">SUBMIT</button>
    </form>
</body>

</html>