<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRATION</title>
</head>

<body>
    <form action="/api/session/register" method="post">
        <label for="FIRST NAME">FIRST NAME: <input type="text" name="first_name" placeholder="FIRST NAME"></label>
        <label for="LAST NAME">LAST NAME: <input type="text" name="last_name" placeholder="LAST NAME"></label>
        <label for="EMAIL">EMAIL: <input type="text" name="email" placeholder="EMAIL@DOMAIN.COM"></label>
        <label for="PASSWORD">PASSWORD: <input type="password" name="password" placeholder="PASSWORD"></label>
        <button type="submit">SUBMIT</button>
    </form>
</body>

</html>