<h2>CHAT</h2>

<section class="h-[35vh] ">
    <div>
        <label for="usernameInput">Username:<input type="text" id="usernameInput" class="border"></label>
    </div>
    <div class="h-full border overflow-auto" id="chatBox">
    </div>

    <div class="border">
        <label for="chatInput" ><input type="text" id="chatInput" class="w-full"></label>
    </div>
</section>


<script type="module" src='/socket.io/socket.io.js'></script>
<script type="module" src='/js/chat.js'></script>