<nav class="w-full bg-gray-100">
    <div class="flex justify-between px-5 py-1">
        <a class="text-3xl font-bold text-amber-700 drop-shadow" href="/">Groove <br> Gallery</a>

        <div class="pt-5">
            <a class="inline-block bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-300 rounded shadow-sm transition duration-300"
                href="/api/products">Products</a>
        </div>


        {{> userPanel }}
    </div>
</nav>