<nav class="w-full bg-gray-100">
    <div class="flex justify-between px-5 py-1">
        <a class="text-3xl font-bold text-amber-700 drop-shadow" href="/">Groove <br> Gallery</a>

        <div class="pt-5">
            <a class="font-semibold py-1 px-2 bg-gray-300" href="">products</a>
            -
            <a class="font-semibold py-1 px-2 bg-gray-300" href="">stuff</a>
        </div>

        {{> userPanel }}
    </div>
</nav>