{{#if user }}

<div class="pt-5">
    <a class="font-semibold py-1 px-2 bg-gray-300" href="/profile">Profile</a>
    <a class="font-semibold py-1 px-2 bg-gray-300" href="/api/session/logout">Logout</a>
</div>
{{else}}

<div class="pt-5">
    <a class="font-semibold py-1 px-2 bg-gray-300" href="/login">Login</a>
    <a class="font-semibold py-1 px-2 bg-gray-300" href="/register">Register</a>
</div>

{{/if}}