{{#if user }}
    <a href="/">Index</a>
    <a href="/profile">Profile</a>
    <a href="/api/session/logout">Logout</a>
{{else}}
    <a href="/">Index</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
{{/if}}