<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>

<body class="m-0 flex flex-col justify-center align-middle">

    {{> navbar }}

    <main class="mx-10 p-2">
        {{{body}}}
    </main>

</body>



</html>