<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{{title}}</title>
</head>

<body class="bg-main-4 m-0 flex justify-center align-middle">
    <main class="bg-main-3 mx-10 p-2">
        <nav>
        <div class="bg-slate-800">
            <h1 class="text-red-500 text-5xl">Welcome to Groove Gallery</h1>
            <h2 class="text-red-300">here we are, making some tests</h2>
        </div>
        {{> userPanel }}
        </nav>
        {{{body}}}
    </main>

</body>

</html>